.twitter-chunk{
  display: grid;
  grid-template-areas: "search search logo" "content content content";
}

.twitter-chunk .search{
  grid-area: search;
}

.twitter-chunk .content{
  grid-area: content;
}

.twitter-chunk .logo-dashboard-card{
  grid-area: logo;
}

.logo-dashboard-card img{
  width: 6.0rem;
  float: right;
  margin: 1rem 2rem 0;
}
