@import 'src/styles/vars';
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
  }
  .menu {
    display: none;
  }
  
  .nav-logo {
    width: 1405px;
  }

  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;
  }
 
  .navbar-email {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
  }

  .log-button {
    background: linear-gradient(90deg, rgba(95, 100, 255, 0.7) 0%, rgba(174, 78, 255, 0.85) 100%);
    border-radius: 6px;
    border: none;
    color: var(--white);
    width: 120px;
    cursor: pointer;
    font-family: var(--mulish);
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    
  }
  .sign-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--gethired);
    color: var(--gethired);
    width: 120px;
    cursor: pointer;
    font-family: var(--mulish);
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
  }

  @media (max-width: 640px) {
    .menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-right,
    .log-button,
    .sign-button,
    .navbar-email {
      display: none;
    }
   
  }