@import 'src/styles/vars';


.css-1oqqzyl-MuiContainer-root{
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}


.buttonContainer{
  display:flex;
  justify-content: center;
}

.go-profile{
  background: linear-gradient(90deg, rgba(95, 100, 255, 0.7) 0%, rgba(174, 78, 255, 0.85) 100%);
    border-radius: 6px;
    border:none;
    color: var(--white);
    height:4rem;
    width:17.5rem;
    font-family: var(--mulish);
    font-size: var(--md);
    font-weight: bold;
    margin:1rem;
    cursor: pointer;}

