@import 'src/styles/vars';

.css-1oqqzyl-MuiContainer-root{
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
  font-family: var(--mulish);

}
