:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --gethired: #AE4EFF;
  --linkedin: #0e76a8;
  --avatar : #7D81F6;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
}