@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;800&display=swap');

:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --gethired: #AE4EFF;
  --linkedin: #0e76a8;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --mulish: 'Mulish', sans-serif;
}

button{
  background: linear-gradient(90deg, rgba(95, 100, 255, 0.7) 0%, rgba(174, 78, 255, 0.85) 100%);
  border-radius: 6px;
  color: var(--white);
  font-family: var(--mulish);
  font-weight: 700;
  font-size: var(--md);
}