* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: var(--mulish);
    font-size: 1.6rem;
}

.css-46bh2p-MuiCardContent-root {
    display: grid;
    grid-gap: 5px;
    justify-items: center;
}

.css-diy1t4-MuiPaper-root-MuiCard-root{
    justify-items: center;
}
ul {
    list-style: none ;
}