* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.title {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 2rem;
}
